*{
    margin: 0em;
    border: 0em;
}


body{
display: flex;
justify-content: center;
background-image: url(../assets/main.jpg);
background-size: 100%;
background-position: -7em;
margin-bottom: 2em;
}
.button{
    
 
    padding: 1em 3em;
    border-radius: 2em;
    margin-right: 4em;
}
/* main */
div#main{
    background-color: aquamarine;
    width: 45rem;
    height: 30rem;
    margin-top: 5rem;
    
}
div#left{
    background-color: #fc7183;
    height: 30rem;
    width: 20rem;
}
div#right{
    background-image: url(../assets/signup.jpg);

    background-size: 100%;
    height: 30rem;
    width: 25rem;
    transform:translateX(20em) translateY(-30em);
   
   overflow: hidden;
}
.blur{
    height: 30rem;
    width: 25rem;
    background: rgba(255, 255, 255, 0.2) ;
    backdrop-filter: blur(10px);
}
div#account{
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

img#logo{
height: 50px;
}

div#center{
    margin-top: 7rem;
    margin-left: 3rem;
}
h1#welcome{
    margin-bottom: .4em;
}
span#stay{
   text-align: center; 
}
span#stay{
    margin-left: 1em;
}
button#signup{
    background: none;
    border: 1px solid #ffffff;
    margin-left: 3em;
    margin-top: 1em;
}
#signup:hover{
    background: #ffffff;
}
h1#account{
    font-size: 24px;
}
#email{
    border: 1px solid black;
}
#name{
    border: 1px solid black;
}

#password{
    border: 1px solid black;
}
#account{
    margin-left: 5em;
    text-align: center;
}
.text-field{
    height:2em;
    width: 20em;
    margin-bottom: 1em;
    margin-right: 3em;
}

#submit{
    background: #fb607f;
    margin-left: 3em;
}
#submit:hover{
    background: none;
    color: #ffffff;
    border: 1px solid #fb607f;
}
#account{
    margin-right: 2em;
  
}
.headings{
    font-family: 'Poppins';
}
.oswald{
    font-family: 'Oswald';
    font-size: 18px;
}
#sign-up-icon{
    height: 100px;
    width: 100px;
 
}
/* mai */




